<a href="{{ path('heidi_alpen_the_cheeses_cheese', {cheese: 'gruyere'}) }}">
    <figure>
        <figcaption>
        	<span class="verticalAlign">
        		{{ 'theCheeses.gruyere.slogan'|trans|nl2br }}
        	</span>
        </figcaption>
        <img src="{{ asset('imgs/heidi_link_gruyere.jpg') }}" alt="{{ 'theCheeses.gruyere.nom'|trans }}" />
        <img src="{{ asset('imgs/heidi_link_gruyere.jpg') }}" alt="{{ 'theCheeses.gruyere.nom'|trans }}" class="caliber" />
    </figure>
</a>