<a href="{{ path('heidi_alpen_the_cheeses') }}#cheeseMap">
    <figure>
        <figcaption>
        	<span class="verticalAlign">
            	{{ 'theCheeses.discover.title'|trans|nl2br }}
            </span>
        </figcaption>
        <img src="{{ asset('imgs/heidi_link_cheese.jpg') }}" alt="{{ 'theCheeses.title'|trans }}" />
        <img src="{{ asset('imgs/heidi_link_cheese.jpg') }}" alt="{{ 'theCheeses.title'|trans }}" class="caliber" />
    </figure>
</a>