<a href="{{ path('heidi_alpen_the_story') }}#aop">
    <figure>
        <figcaption>
        	<span class="verticalAlign">
            	{{ 'theStory.aop.title'|trans|nl2br }}
            </span>
        </figcaption>
        <img src="{{ asset('imgs/heidi_link_aop.jpg') }}" alt="{{ 'theStory.aop.title'|trans }}" />
        <img src="{{ asset('imgs/heidi_link_aop.jpg') }}" alt="{{ 'theStory.aop.title'|trans }}" class="caliber" />
    </figure>
</a>