<a href="{{ path('heidi_alpen_the_expertise') }}#methods">
    <figure>
        <figcaption>
        	<span class="verticalAlign">
            	{{ 'theExpertise.methods.title'|trans|nl2br }}
            </span>
        </figcaption>
        <img src="{{ asset('imgs/heidi_link_expertise.jpg') }}" alt="{{ 'theExpertise.title'|trans }}" />
        <img src="{{ asset('imgs/heidi_link_expertise.jpg') }}" alt="{{ 'theExpertise.title'|trans }}" class="caliber" />
    </figure>
</a>