<a href="{{ path('heidi_alpen_the_story') }}#land">
    <figure>
        <figcaption>
        	<span class="verticalAlign">
        		{{ 'theStory.land.title'|trans|nl2br }}
        	</span>
        </figcaption>
        <img src="{{ asset('imgs/heidi_link_land.jpg') }}" alt="{{ 'theStory.land.title'|trans }}" />
        <img src="{{ asset('imgs/heidi_link_land.jpg') }}" alt="{{ 'theStory.land.title'|trans }}" class="caliber" />
    </figure>
</a>