<a href="{{ path('heidi_alpen_receipts') }}">
    <figure>
        <figcaption>
        	<span class="verticalAlign">
            	{{ 'theReceipts.ideas.title'|trans }}
            </span>
        </figcaption>
        <img src="{{ asset('imgs/home_link_receipt_pretext.jpg') }}" alt="{{ 'theReceipts.ideas.title'|trans }}" />
        <img src="{{ asset('imgs/home_link_receipt_pretext.jpg') }}" alt="{{ 'theReceipts.ideas.title'|trans }}" class="caliber" />
    </figure>
</a>