<article class="vacherinfribourgeois">
  <div id="cheesePlaceholder">
    <img src="{{ asset('imgs/heidi_map.png') }}" class="caliber" alt="{{ 'theCheeses.title'|trans }}" />
    <figure class="imgVacherinfribourgeois imgProduct">
      <img class="trait" src="{{ asset('imgs/map_small_trait_vach.png') }}" alt="{{ 'theCheeses.vacherinfribourgeois.nom'|trans }}" />
      <img class="cheese" src="{{ asset('imgs/from_va.png') }}" alt="{{ 'theCheeses.vacherinfribourgeois.nom'|trans }}" />
      <img class="caliber" src="{{ asset('imgs/from_va.png') }}" alt="trait" />
    </figure>
  </div>
  <a class="button close" href="{{ path('heidi_alpen_the_cheeses') }}">{{ 'theCheeses.discover.title'|trans }}</a>
  <h1>{{ 'theCheeses.vacherinfribourgeois.nom'|trans }}{% if app.request.getLocale() == 'ru' %}*{% endif %}</h1>
  <h2>{{ 'theCheeses.vacherinfribourgeois.slogan'|trans }}</h2>
  <p>
    <b>{{ 'theCheeses.vacherinfribourgeois.header'|trans }}</b>
  </p>
  <p>
    {{ 'theCheeses.vacherinfribourgeois.p0'|trans }}
  </p>
  <p>
    {{ 'theCheeses.vacherinfribourgeois.p1'|trans }}
  </p>
  <p>
    {{ 'theCheeses.vacherinfribourgeois.p2'|trans }}
  </p>
  <p>
    <strong>{{ 'theCheeses.maturation'|trans }} {{ 'theCheeses.vacherinfribourgeois.maturation'|trans }}</strong>
  </p>
</article>